@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);



















body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto Condensed', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto Condensed', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Roboto Condensed', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto Condensed', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto Condensed', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto Condensed', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #2b0680 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #2b0680;
  border-color: #2b0680;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #120337;
  border-color: #120337;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #120337 !important;
  border-color: #120337 !important;
}
.btn-secondary {
  background-color: #037aff;
  border-color: #037aff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #0056b5;
  border-color: #0056b5;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0056b5 !important;
  border-color: #0056b5 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #0a011f;
  color: #0a011f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2b0680;
  border-color: #2b0680;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2b0680 !important;
  border-color: #2b0680 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #004a9c;
  color: #004a9c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #037aff;
  border-color: #037aff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #037aff !important;
  border-color: #037aff !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #2b0680 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #2b0680;
}
.btn-social:hover {
  background: #2b0680;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2b0680;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2b0680;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2b0680;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2b0680;
}
.lead a,
.lead a:hover {
  color: #2b0680;
}
.lead blockquote {
  border-color: #2b0680;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #5612f4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #2b0680;
}
#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #2b0680!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#slider-y H2 {
  font-size: 30px;
  font-family: 'PT Serif', serif;
  color: #ca0000;
}
#slider-y P {
  font-size: 17px;
}
#slider-y .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}
#slider-y SPAN {
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
  font-size: 25px;
  text-align: center;
}
#features3-12 H5 {
  color: #b8312f;
}
#features3-12 H4 {
  color: #b8312f;
}
#features3-12 .btn {
  font-family: 'PT Serif', serif;
  font-size: 13px;
}
#msg-box2-0 .mbr-section-title {
  color: #fff;
}
#msg-box2-0 .mbr-section-subtitle {
  color: #efefef;
}
#msg-box2-0 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 30px;
}
#msg-box2-0 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
}
#social-buttons3-7 .mbr-section-title,
#social-buttons3-7 .btn-social {
  color: #fff;
}
#social-buttons3-7 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #000000;
}
#footer1-2 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}
#contacts3-0 .mbr-footer-content li a:hover,
#contacts3-0 .mbr-footer .mbr-contacts li a:hover {
  text-decoration: underline;
}
#contacts3-0 .mbr-footer-content li,
#contacts3-0 .mbr-footer .mbr-contacts li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  color: #bcbcbc;
  display: block;
  font-family: "Lora";
  font-size: 0.875rem;
  line-height: 1.8;
  overflow: hidden;
  padding: 0.40em 0;
  padding-left: 1.8em;
  position: relative;
  width: 100%;
}

















#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-9 .mbr-section-title,
#msg-box8-9 p {
  color: #fff;
}
#msg-box8-9 .mbr-section-title {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  text-align: center;
}
#msg-box8-9 .lead P {
  font-family: 'PT Serif', serif;
  font-size: 21px;
  text-align: center;
}
#msg-box8-9 .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-9 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
}
#header3-j .mbr-section-title,
#header3-j .mbr-section-subtitle {
  text-align: center;
}
#header3-j H3 {
  font-size: 32px;
}
#header3-j I {
  color: #553982;
}
#msg-box5-1 B {
  font-size: 23px;
  font-family: 'Lora', serif;
  color: #b8312f;
}
#msg-box5-1 H3 {
  color: #232323;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}
#msg-box5-1 SPAN {
  font-family: 'Lora', serif;
  font-size: 46px;
}
#msg-box5-1 P {
  font-size: 23px;
  color: #b8312f;
}
#features3-l H5 {
  color: #000000;
}
#features3-l B {
  font-size: 16px;
}
#social-buttons3-4 .mbr-section-title,
#social-buttons3-4 .btn-social {
  color: #fff;
}
#social-buttons3-4 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}
#contacts3-0 .mbr-footer-content li a:hover,
#contacts3-0 .mbr-footer .mbr-contacts li a:hover {
  text-decoration: underline;
}
#contacts3-0 .mbr-footer-content li,
#contacts3-0 .mbr-footer .mbr-contacts li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  color: #bcbcbc;
  display: block;
  font-family: "Lora";
  font-size: 0.875rem;
  line-height: 1.8;
  overflow: hidden;
  padding: 0.40em 0;
  padding-left: 1.8em;
  position: relative;
  width: 100%;
}
#footer1-13 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}















#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-31 .mbr-section-title,
#msg-box8-31 p {
  color: #fff;
}
#msg-box8-31 .mbr-section-title {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  text-align: center;
  color: #00a885;
}
#msg-box8-31 .lead P {
  font-family: 'PT Serif', serif;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
}
#msg-box8-31 .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-31 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  color: #ffffff;
}
#testimonials1-121 .card-block {
  font-size: 14px;
  font-family: 'Lora', serif;
}
#testimonials1-121 .card-block P {
  font-size: 16px;
  color: #b8312f;
}
#testimonials1-121 .mbr-section-title {
  font-size: 25px;
  color: #475577;
}
#testimonials1-121 .card-footer > div {
  color: #b8312f;
}
#social-buttons3-5 .mbr-section-title,
#social-buttons3-5 .btn-social {
  color: #fff;
}
#social-buttons3-5 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#footer1-35 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}

















#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-101 .mbr-section-title,
#msg-box8-101 p {
  color: #fff;
}
#msg-box8-101 .mbr-section-title {
  font-family: 'Lora', serif;
  font-size: 36px;
  text-align: center;
}
#msg-box8-101 .lead P {
  font-family: 'Lora', serif;
  font-size: 20px;
  text-align: center;
}
#msg-box8-101 .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-109 .mbr-section-title,
#header3-109 .mbr-section-subtitle {
  text-align: center;
}
#header3-109 H3 {
  font-family: 'Lora', serif;
}
#content1-110 P {
  font-family: 'Lora', serif;
  font-size: 14px;
}
#content7-112 P {
  font-family: 'Lora', serif;
  font-size: 14px;
}
#content7-112 UL {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
}
#footer1-105 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#social-buttons3-6 .mbr-section-title,
#social-buttons3-6 .btn-social {
  color: #fff;
}
#social-buttons3-6 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}




















#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-108 .mbr-section-title,
#msg-box8-108 p {
  color: #fff;
}
#msg-box8-108 .mbr-section-title {
  font-family: 'Lora', serif;
  font-size: 36px;
  text-align: center;
}
#msg-box8-108 .lead P {
  font-family: 'Lora', serif;
  font-size: 20px;
  text-align: center;
}
#msg-box8-108 .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-113 .mbr-section-title,
#header3-113 .mbr-section-subtitle {
  text-align: center;
}
#header3-113 SPAN {
  font-family: 'Lora', serif;
  font-size: 36px;
}
#buttons1-1 .btn {
  font-family: 'Oswald', sans-serif;
}
#content1-114 P {
  font-family: 'Lora', serif;
  font-size: 14px;
}
#content6-115 P {
  font-family: 'Lora', serif;
  font-size: 14px;
}
#content6-115 UL {
  font-family: 'Lora', serif;
  font-size: 13px;
}
#buttons1-0 .btn {
  font-family: 'Oswald', sans-serif;
}
#content1-0 P {
  font-family: 'Lora', serif;
  font-size: 13px;
}
#social-buttons3-7 .mbr-section-title,
#social-buttons3-7 .btn-social {
  color: #fff;
}
#social-buttons3-7 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#footer1-112 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}





















#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-66 .mbr-section-title,
#msg-box8-66 p {
  color: #fff;
}
#msg-box8-66 .mbr-section-title {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  text-align: center;
}
#msg-box8-66 .lead P {
  font-family: 'Lora', serif;
  font-size: 20px;
  text-align: center;
}
#msg-box8-66 .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-66 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
}
#header3-102 .mbr-section-title,
#header3-102 .mbr-section-subtitle {
  text-align: center;
}
#header3-102 SPAN {
  font-size: 30px;
  font-family: 'Lora', serif;
}
#content1-103 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}
#content6-104 P {
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
}
#content6-104 UL {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  color: #000000;
}
#content6-104 DIV {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}
#content1-105 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: center;
}
#content1-105 UL {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}
#social-buttons3-8 .mbr-section-title,
#social-buttons3-8 .btn-social {
  color: #fff;
}
#social-buttons3-8 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#footer1-70 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}

















#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-73 .mbr-section-title,
#msg-box8-73 p {
  color: #fff;
}
#msg-box8-73 .mbr-section-title {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  text-align: center;
}
#msg-box8-73 .lead P {
  font-family: 'Lora', serif;
  font-size: 20px;
  text-align: center;
}
#msg-box8-73 .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-73 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
}
#testimonials1-0 .mbr-section-title {
  font-family: 'Lora', serif;
  font-size: 36px;
}
#testimonials1-0 .card-block SPAN {
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  color: #90a878;
}
#testimonials1-0 .card-footer > div {
  font-size: 14px;
  font-family: 'Lora', serif;
  color: #3d8eb9;
}
#testimonials1-0 .mbr-section-title SPAN {
  color: #000000;
}
#testimonials1-0 .btn-sm,
#testimonials1-0 .lead a,
#testimonials1-0 .lead blockquote,
#testimonials1-0 .mbr-section-subtitle,
#testimonials1-0 .mbr-section-hero .mbr-section-lead,
#testimonials1-0 .mbr-cards .card-subtitle,
#testimonials1-0 .mbr-testimonial .card-block {
  font-family: 'Lora', serif;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#footer1-77 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#social-buttons3-9 .mbr-section-title,
#social-buttons3-9 .btn-social {
  color: #fff;
}
#social-buttons3-9 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}

















#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-87 .mbr-section-title,
#msg-box8-87 p {
  color: #fff;
}
#msg-box8-87 .mbr-section-title {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  text-align: center;
}
#msg-box8-87 .lead P {
  font-family: 'Lora', serif;
  font-size: 21px;
  text-align: center;
}
#msg-box8-87 .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-87 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
}
#header3-0 .mbr-section-title,
#header3-0 .mbr-section-subtitle {
  text-align: center;
}
#header3-0 H3 {
  font-family: 'Lora', serif;
}
#header3-0 SPAN {
  font-size: 36px;
}
#content6-0 P {
  font-family: 'Lora', serif;
  font-size: 15px;
}
#content6-0 UL {
  font-family: 'Lora', serif;
  font-size: 13px;
}
#social-buttons3-a .mbr-section-title,
#social-buttons3-a .btn-social {
  color: #fff;
}
#social-buttons3-a .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#footer1-91 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}

#footer1-0 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}











#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'PT Serif', serif;
  font-size: 18px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #b4322b;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #ce3c35!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #d14841;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .btn {
  font-family: 'Roboto Condensed', sans-serif;
}
#menu-0 #menu-0 .link:hover,
#menu-0 #menu-0 .dropdown-item:hover,
#menu-0 #menu-0 .link:focus,
#menu-0 #menu-0 .dropdown-item:focus {
  color: #FFF;
}
#menu-0 .nav-dropdown .dropdown-menu {
  border-radius: 3px;
  padding-bottom: 0.25rem;
  padding-top: 1.25rem;
  opacity: 1;
}
#menu-0 .nav-dropdown .dropdown-item:focus,
#menu-0 .nav-dropdown .dropdown-item:hover {
  background: #ffe7af;
}
#menu-0 #menu-0 .link[aria-expanded="true"],
#menu-0 #menu-0 .dropdown-menu {
  background: #f7da64;
}
#menu-0 .navbar-dropdown.navbar-fixed-top {
  position: fixed;
  box-shadow: 0px 0px 20px rgba(119, 119, 119, 0.47);
  border-bottom: 1px solid #b8312f;
}
#msg-box8-d .mbr-section-title,
#msg-box8-d p {
  color: #fff;
}
#social-buttons3-b .mbr-section-title,
#social-buttons3-b .btn-social {
  color: #fff;
}
#social-buttons3-b .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}
#footer1-0 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}














#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-52 .mbr-section-title,
#msg-box8-52 p {
  color: #fff;
}
#msg-box8-52 .mbr-section-title {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  text-align: center;
}
#msg-box8-52 .lead P {
  font-family: 'PT Serif', serif;
  font-size: 21px;
  text-align: center;
}
#msg-box8-52 .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-52 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
}
#social-buttons3-54 .mbr-section-title,
#social-buttons3-54 .btn-social {
  color: #fff;
}
#social-buttons3-54 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 30px;
}
#footer1-56 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}














#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-38 .mbr-section-title,
#msg-box8-38 p {
  color: #fff;
}
#msg-box8-38 .mbr-section-title {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  text-align: center;
}
#msg-box8-38 .lead P {
  font-family: 'Lora', serif;
  font-size: 20px;
  text-align: center;
}
#msg-box8-38 .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-38 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
}
#social-buttons3-40 .mbr-section-title,
#social-buttons3-40 .btn-social {
  color: #fff;
}
#social-buttons3-40 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
}
#footer1-42 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}












#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'PT Serif', serif;
  font-size: 18px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #8f2625;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #ac2e2c!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #b8312f;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .btn {
  font-family: 'Roboto Condensed', sans-serif;
}
#menu-0 #menu-0 .link:hover,
#menu-0 #menu-0 .dropdown-item:hover,
#menu-0 #menu-0 .link:focus,
#menu-0 #menu-0 .dropdown-item:focus {
  color: #FFF;
}
#menu-0 .nav-dropdown .dropdown-menu {
  border-radius: 3px;
  padding-bottom: 0.25rem;
  padding-top: 1.25rem;
  opacity: 1;
}
#menu-0 .nav-dropdown .dropdown-item:focus,
#menu-0 .nav-dropdown .dropdown-item:hover {
  background: #ffe7af;
}
#menu-0 #menu-0 .link[aria-expanded="true"],
#menu-0 #menu-0 .dropdown-menu {
  background: #f7da64;
}
#menu-0 .navbar-dropdown.navbar-fixed-top {
  position: fixed;
  box-shadow: 0px 0px 20px rgba(119, 119, 119, 0.47);
  border-bottom: 1px solid #efefef;
}
#msg-box2-0 .mbr-section-title {
  color: #fff;
}
#msg-box2-0 .mbr-section-subtitle {
  color: #cccccc;
}
#msg-box2-0 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 32px;
  text-align: center;
}
#msg-box2-0 .mbr-section-title DIV {
  text-align: center;
}
#social-buttons3-0 .mbr-section-title,
#social-buttons3-0 .btn-social {
  color: #fff;
}
#social-buttons3-0 .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#footer1-0 P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#contacts3-0 STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-0 P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-0 H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-0 .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-0 SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-0 LI {
  font-family: 'Lora', serif;
}
#contacts3-0 B {
  font-size: 14px;
}
#contacts3-0 I {
  font-size: 18px;
}
#contacts3-0 .mbr-footer-content li a:hover,
#contacts3-0 .mbr-footer .mbr-contacts li a:hover {
  text-decoration: underline;
}
#contacts3-0 .mbr-footer-content li,
#contacts3-0 .mbr-footer .mbr-contacts li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  color: #bcbcbc;
  display: block;
  font-family: "Lora";
  font-size: 0.875rem;
  line-height: 1.8;
  overflow: hidden;
  padding: 0.40em 0;
  padding-left: 1.8em;
  position: relative;
  width: 100%;
}










#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #2b0680!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#msg-box8-z .mbr-section-title,
#msg-box8-z p {
  color: #fff;
}
#msg-box8-z .mbr-section-title SPAN {
  font-size: 32px;
}
#image2-w DIV {
  font-size: 18px;
  color: #ffffff;
}
#social-buttons3-r .mbr-section-title,
#social-buttons3-r .btn-social {
  color: #fff;
}
#social-buttons3-r .mbr-section-title SPAN {
  font-family: 'Lora', serif;
  font-size: 25px;
  color: #efefef;
}
#footer1-s P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
#contacts3-t STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-t P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-t H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-t .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-t SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-t LI {
  font-family: 'Lora', serif;
}
#contacts3-t B {
  font-size: 14px;
}
#contacts3-t I {
  font-size: 18px;
}
#contacts3-t .mbr-footer-content li a:hover,
#contacts3-t .mbr-footer .mbr-contacts li a:hover {
  text-decoration: underline;
}
#contacts3-t .mbr-footer-content li,
#contacts3-t .mbr-footer .mbr-contacts li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  color: #bcbcbc;
  display: block;
  font-family: "Lora";
  font-size: 0.875rem;
  line-height: 1.8;
  overflow: hidden;
  padding: 0.40em 0;
  padding-left: 1.8em;
  position: relative;
  width: 100%;
}











#ext_menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-16 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 18px;
}
#ext_menu-16 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-16 .close-icon::before,
#ext_menu-16 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-16 .link,
#ext_menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-16 .link {
  font-size: 0.75rem;
}
#ext_menu-16 .dropdown-item,
#ext_menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-16 .link:hover,
#ext_menu-16 .dropdown-item:hover,
#ext_menu-16 .link:focus,
#ext_menu-16 .dropdown-item:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-menu {
  background: #d03020;
}
#ext_menu-16 .nav-dropdown-sm .link:focus,
#ext_menu-16 .nav-dropdown-sm .link:hover,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#ext_menu-16 .navbar,
#ext_menu-16 .nav-dropdown-sm,
#ext_menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#ext_menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-16 .bg-color.transparent.opened .link:hover,
#ext_menu-16 .bg-color.transparent.opened .link:focus {
  color: #2b0680;
}
#ext_menu-16 .link[aria-expanded="true"],
#ext_menu-16 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#ext_menu-16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0;
  padding: 2.667em 2.583em 2.667em 1.667em;
}
#ext_menu-16 .nav-dropdown .dropdown-menu {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
#ext_menu-16 .nav-dropdown .dropdown-submenu {
  top: 16px;
}
#header1-1g .mbr-section-lead {
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
}
#header1-1g .mbr-section-title SPAN {
  font-size: 36px;
  color: #ffffff;
}
#header1-1g .btn {
  font-size: 12px;
  font-family: 'PT Serif', serif;
}
#header1-1g .mbr-section-lead SPAN {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}
#contacts3-t STRONG {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #ffffff;
}
#contacts3-t P {
  font-family: 'Lora', serif;
  color: #efefef;
  font-size: 14px;
}
#contacts3-t H4 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
}
#contacts3-t .list-group-text {
  font-family: 'Lora', serif;
}
#contacts3-t SPAN {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#contacts3-t LI {
  font-family: 'Lora', serif;
}
#contacts3-t B {
  font-size: 14px;
}
#contacts3-t I {
  font-size: 18px;
}
#contacts3-t .mbr-footer-content li a:hover,
#contacts3-t .mbr-footer .mbr-contacts li a:hover {
  text-decoration: underline;
}
#contacts3-t .mbr-footer-content li,
#contacts3-t .mbr-footer .mbr-contacts li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  color: #bcbcbc;
  display: block;
  font-family: "Lora";
  font-size: 0.875rem;
  line-height: 1.8;
  overflow: hidden;
  padding: 0.40em 0;
  padding-left: 1.8em;
  position: relative;
  width: 100%;
}
#footer1-1e P {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  color: #efefef;
}
